:root {
  --sans-serif-font-family: 'Text Me One', sans-serif;
  --serif-font-family: 'Cinzel', serif;
  --monospace-font-family: 'Share Tech Mono', monospace;
}

body {
  --body-background-color: var(--sky-light);
}

.navbar {
  --navbar-background-color: var(--blue-dark);
}
