:root {
  --sans-serif: 'GFS Neohellenic', sans-serif;
  --serif: 'Inika', serif;
  --monospace: 'Nova Mono', monospace;
  --cursive: 'Combo', cursive;
  --shrink: scale(1.5, 1.5);
}

.navbar {
  --navbar-background-color: var(--blue-dark);
}

.table {
  --table-row-odd-hover-background-color: var(--orange-light);
  --table-row-even-hover-background-color: var(--green-light);
  --table-row-odd-hover-color: var(--black);
  --table-row-even-hover-color: var(--black);
}

.foot {
  --foot-list-background-color: var(--violet-dark);
}
