@import url('https://fonts.googleapis.com/css2?family=Combo&family=GFS+Neohellenic&family=Inika&family=Nova+Mono&display=swap');

:root {
  --sans-serif: 'GFS Neohellenic', sans-serif;
  --serif: 'Inika', serif;
  --monospace: 'Nova Mono', monospace;
  --cursive: 'Combo', cursive;
  --shrink: scale(1.5, 1.5);
}

.navbar {
  --navbar-background-color: var(--blue-dark);
}

.table {
  --table-odd-hover-background-color: var(--orange-light);
  --table-even-hover-background-color: var(--green-light);
  --table-odd-hover-color: var(--black);
  --table-even-hover-color: var(--black);
}

.foot {
  --foot-list-background-color: var(--violet-dark);
}
