<section class="menu-target6">
    <h2>
        <i class="fas fa-user"></i> 
        Visiteurs
    </h2>

    <table class="table">
        <thead>
            <tr>
                <th>Date de Visite</th>
                <th>Test: Score</th>
            </tr>
        </thead>
        <tbody>

        {% for visitor in visitors %}
            <tr>
                <td>
                    {{ visitor.visitDate }}
                </td>
                <td>
                    {{ visitor.test }}:
                    {{ visitor.score }}
                    <br>
                    <a class="btn-red" 
                        href="{{ url('visitor!delete', {'id': visitor.id}) }}"
                        title="Supprimer le Visiteur">
                        <i class="fas fa-times-circle fa-fw fa-lg"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
</section>
