{% extends 'layout/layout.twig' %}

{% block title %}Créer un Utilisateur{% endblock %}

{% block description %}{% endblock %}

{% block main %}
<main>
    <form class="form" 
        method="post" 
        action={{ url('user!create') }} 
        enctype="multipart/form-data">
        <input name="MAX_FILE_SIZE" 
            type="hidden" 
            value="1000000">
        <fieldset>
            <legend>
                <i class="fas fa-user fa-2x"></i>
            </legend>
            <ul>
                <li>
                    <label for="name">
                        Nom
                    </label>
                    <input id="name" 
                        name="name" 
                        type="text" 
                        maxlength="50" 
                        placeholder="Insérer votre Nom"
                        required>
                </li>
                <li>
                    <label for="file">
                        Photo (max 1Mo)
                    </label>
                    <input name="file" 
                        type="file" 
                        accept=".gif, .jpeg, .jpg, .png, .svg, .webp" 
                        required>
                </li>
                <li>
                    <label for="email">
                        Courriel
                    </label>
                    <input id="email" 
                        name="email" 
                        type="email" 
                        maxlength="100" 
                        minlength="5" 
                        placeholder="Insérer votre Courriel"
                        required>
                </li>
                <hr>
                <li>
                    <label for="pass">
                        Mot de Passe
                    </label>
                    <input id="pass" 
                        name="pass" 
                        type="password" 
                        placeholder="Insérer votre Mot de Passe" 
                        maxlength="100" 
                        minlength="8">
                </li>
                <li>
                    <label for="conf-pass">
                        Confirmer
                    </label>
                    <input id="conf-pass" 
                        name="conf-pass" 
                        type="password" 
                        placeholder="Confirmer votre Mot de Passe" 
                        maxlength="100" 
                        minlength="8">
                </li>
            </ul>
            <ul>
                <li>
                    <input type="reset" 
                        value="Réinitialiser">
                    <input type="submit" 
                        value="Créer">
                </li>
            </ul>
        </fieldset>
    </form>
    <a class="btn-black btn-lg" 
        href="{{ url('admin') }}">
        Quitter
    </a>
</main>
{% endblock %}
