{% extends 'layout/layout.twig' %}

{% block title %}Create a New Test Question{% endblock %}

{% block summary %}{% endblock %}

{% block main %}
    <main class="align-center">
        <form class="form" method="post" action="{{ url('tests!create') }}">
            <fieldset>
                <legend>
                    <i class="fas fa-question-circle fa-2x"></i>
                </legend>
                <ul>
                    <li>
                        <label for="category">Category*</label>
                        <input id="category" name="category" type="text" maxlength="2" required placeholder="Type the Test Category">
                    </li>
                    <li>
                        <label for="number">Number*</label>
                        <input id="number" name="number" type="number" maxlength="2" min="1" max="100" required placeholder="Type the Question Number">
                    </li>
                    <li>
                        <label for="answer">Answer*</label>
                        <input id="answer" name="answer" type="number" min="0" max="1" required placeholder="Type the Question Answer">
                    </li>
                    <li>
                        <label for="question">Question*</label>
                        <input id="question" name="question" type="text" maxlength="120" required placeholder="Type the Test Question">
                    </li>
                </ul>
                <ul>
                    <li>
                        <input type="reset" value="Reset">
                        <input type="submit" value="Create">
                    </li>
                </ul>
            </fieldset>
        </form>
        <a class="btn-black btn-lg" href="{{ url('admin') }}">Quit</a>
    </main>
{% endblock %}
