{% extends 'layout/layout.twig' %}

{% block title %}Contact{% endblock %}

{% block description %}Vous pouvez me contacter par message{% endblock %}

{% block script %}
    <script src="js/recaptcha.js"></script>
    <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" 
        async 
        defer>
    </script>
{% endblock %}

{% block main %}
<main class="align-center">

    <form class="form anima-growX" 
        method="post" 
        action={{ url('contact') }}>
        <fieldset>

            <ul>
                <li>
                    <label class="anima-slideR-this" 
                        for="name">
                        Nom
                    </label>
                    <input class="anima-slideL-this" 
                        id="name" 
                        name="name" 
                        type="text" 
                        placeholder="Votre Nom" 
                        maxlength="20" 
                        required>
                </li>
                <li>
                    <label class="anima-slideR-this" 
                        for="email">
                        Courriel
                    </label>
                    <input class="anima-slideL-this" 
                        id="email" 
                        name="email" 
                        type="email" 
                        placeholder="Votre Courriel" 
                        maxlength="50" 
                        required>
                </li>
                <li>
                    <label class="anima-slideR-this" 
                        for="subject">
                        Sujet
                    </label>
                    <input class="anima-slideL-this" 
                        id="subject" 
                        name="subject" 
                        type="text" 
                        placeholder="Votre Sujet" 
                        maxlength="50" 
                        required>
                </li>
                <li>
                    <label class="anima-slideR-this" 
                        for="message">
                        Message
                    </label>
                    <textarea class="anima-slideL-this" 
                        id="message" 
                        name="message" 
                        placeholder="Votre Message" 
                        rows="5"></textarea>
                </li>
            </ul>

            <ul>
                <li>
                    <div id="recaptcha" 
                        class="g-recaptcha" 
                        data-sitekey="6Ld8yugZAAAAAL_DZ8ent3zL3yzAHeGXnCAyGxj9">
                    </div>
                </li>
                <li>
                    <input class="anima-slideR-this" 
                        type="reset" 
                        value="Réinitialiser">
                    <input class="anima-slideL-this" 
                        type="submit" 
                        value="Envoyer">
                </li>
            </ul>
            
        </fieldset>
    </form>
    <a class="btn-black btn-lg" 
        href="{{ url('home') }}">
        Quitter
    </a>
</main>
{% endblock %}
