{% extends 'layout/layout.twig' %}

{% block title %}Tests du Syndrome d'Asperger{% endblock %}

{% block description %}{% endblock %}

{% block main %}
    <main>
        <p></p>

        <ul class="row">
            <li>
                <a class="btn-red btn-circle pad-md" href="{{ url('tests!read', {'category': 'AQ'}) }}" accesskey="a" title="Quotient Autistique">
                    <i class="fas fa-user-astronaut fa-3x"></i>
                    <span>Quotient Autistique</span>
                </a>
            </li>
            <li>
                <a class="btn-green btn-circle pad-md" href="{{ url('tests!read', {'category': 'EQ'}) }}" accesskey="e" title="Quotient Empathique">
                    <i class="fas fa-user-nurse fa-3x"></i>
                    <span>Quotient Empathique</span>
                </a>
            </li>
            <li>
                <a class="btn-blue btn-circle pad-md" href="{{ url('tests!read', {'category': 'FQ'}) }}" accesskey="f" title="Quotient Amitié & Relation">
                    <i class="fas fa-users fa-3x"></i>
                    <span>Quotient Amitié & Relation</span>
                </a>
            </li>
                    <li>
                <a class="btn-purple btn-circle pad-md" href="{{ url('tests!read', {'category': 'SQ'}) }}" accesskey="s" title="Quotient Méthodique Révisé">
                    <i class="fas fa-user-cog fa-3x"></i>
                    <span>Quotient Méthodique Révisé</span>
                </a>
            </li>
        </ul>
    </main>
{% endblock %}
