{% extends 'layout/layout.twig' %}

{% block title %}Syndrome d'Asperger{% endblock %}

{% block description %}Tests en ligne pour le syndrome d'Asperger{% endblock %}

{% block main %}
    <main>
    <header>
        Ce site permet de passer différents tests afin d'aider un spécialiste à établir un diagnostique du 
        <a class="button-navy cursor-help" href="https://fr.wikipedia.org/wiki/Syndrome_d%27Asperger" title="Voir la page Wikipedia du Syndrome d'Asperger">
            Syndrome d'Asperger
        </a>
    </header>

        <section>
            <h2>Tests en ligne</h2>
        
            <ul class="row">
                <li>
                    <a class="button-red btn-circle pad-md" href="{{ url('test', {'category': 'AQ'}) }}" accesskey="a" title="Quotient Autistique">
                        <i class="fas fa-user-astronaut fa-3x"></i>
                        <span>Quotient Autistique</span>
                    </a>
                </li>
                <li>
                    <a class="button-green btn-circle pad-md" href="{{ url('test', {'category': 'EQ'}) }}" accesskey="e" title="Quotient Empathique">
                        <i class="fas fa-user-nurse fa-3x"></i>
                        <span>Quotient Empathique</span>
                    </a>
                </li>
                <li>
                    <a class="button-blue btn-circle pad-md" href="{{ url('test', {'category': 'FQ'}) }}" accesskey="f" title="Quotient Amitié & Relation">
                        <i class="fas fa-users fa-3x"></i>
                        <span>Quotient Amitié & Relation</span>
                    </a>
                </li>
                <li>
                    <a class="button-purple btn-circle pad-md" href="{{ url('test', {'category': 'SQ'}) }}" accesskey="s" title="Quotient Méthodique Révisé">
                        <i class="fas fa-user-cog fa-3x"></i>
                        <span>Quotient Méthodique Révisé</span>
                    </a>
                </li>
            </ul>
        </section>

        <section>
            <h2>Quelques ouvrages</h2>

            <ul>
                <li>
                    <a class="button cursor-help" href="https://books.google.fr/books?id=NcNwDwAAQBAJ" title="Voir le e-book sur Google Books">Le Syndrome d'Asperger</a>
                </li>
                <li>
                    <a class="button cursor-help" href="https://books.google.fr/books?id=xggBEAAAQBAJ" title="Voir le e-book sur Google Books">Asperger : comment vaincre couprs de blues & dépression ?</a>
                </li>
                <li>
                    <a class="button cursor-help" href="https://books.google.fr/books?id=3XvQDwAAQBAJ" title="Voir le e-book sur Google Books">Sexualité & Syndrome d'Asperger</a>
                </li>
            </ul>
        </section>
    </main>
{% endblock %}
