{% extends 'layout/layout.twig' %}

{% block title %}Syndrome d'Asperger{% endblock %}

{% block description %}Tests en ligne pour le Syndrome d'Asperger{% endblock %}

{% block main %}
    <main>
    <header>
        <p>
            Ce site permet de passer différents tests afin d'aider un spécialiste à établir un diagnostique du 
            <a class="button-navy cursor-help" 
                href="https://fr.wikipedia.org/wiki/Syndrome_d%27Asperger" 
                title="Voir la page Wikipedia du Syndrome d'Asperger">
                <em>Syndrome d'Asperger</em>
            </a>
        </p>
        <p>
            Les contenus textuels de ces tests proviennent du
            <a class="button-navy cursor-help" 
                href="http://www.autismresearchcentre.com/tests" 
                title="Voir la liste des tests du Centre de Recherche sur l'Autisme">
                <em>Centre de Recherche sur l'Autisme</em>
            </a>
            de l'Université de Cambridge
        </p>
    </header>

        <section>
            <h2>Tests en ligne</h2>
        
            <ul class="row anima-full3D-global font-monospace">
                <li>
                    <a class="button-orange btn-circle pad-md" 
                        href="{{ url('test', {'category': 'AQ'}) }}" 
                        accesskey="a" 
                        title="Accéder au Quotient Autistique">
                        <i class="fas fa-user-astronaut fa-3x"></i>
                        <strong>Quotient Autistique</strong>
                    </a>
                </li>
                <li>
                    <a class="button-green btn-circle pad-md" 
                        href="{{ url('test', {'category': 'EQ'}) }}" 
                        accesskey="e" 
                        title="Accéder au Quotient Empathique">
                        <i class="fas fa-user-nurse fa-3x"></i>
                        <strong>Quotient Empathique</strong>
                    </a>
                </li>
                <li>
                    <a class="button-blue btn-circle pad-md" 
                        href="{{ url('test', {'category': 'FQ'}) }}" 
                        accesskey="f" 
                        title="Accéder au Quotient Amitié & Relation">
                        <i class="fas fa-users fa-3x"></i>
                        <strong>Quotient Amitié & Relation</strong>
                    </a>
                </li>
                <li>
                    <a class="button-purple btn-circle pad-md" 
                        href="{{ url('test', {'category': 'SQ'}) }}" 
                        accesskey="s" 
                        title="Accéder au Quotient Méthodique Révisé">
                        <i class="fas fa-user-cog fa-3x"></i>
                        <strong>Quotient Méthodique Révisé</strong>
                    </a>
                </li>
            </ul>
        </section>

        <section>
            <h2>Quelques ouvrages</h2>

            <ul class="font-cursive">
                <li>
                    <a class="button cursor-help anima-shrink-onto" 
                        href="https://books.google.fr/books?id=NcNwDwAAQBAJ" 
                        title="Tony Attwood">
                        <em>Le Syndrome d'Asperger</em>
                    </a>
                </li>
                <li>
                    <a class="button cursor-help anima-shrink-onto" 
                        href="https://books.google.fr/books?id=xggBEAAAQBAJ" 
                        title="Tony Attwood, Françoise Forin-Mateos, Elaine Taveau, Michelle Garnett">
                        <em>Asperger : comment vaincre coups de blues & dépression ?</em>
                    </a>
                </li>
                <li>
                    <a class="button cursor-help anima-shrink-onto" 
                        href="https://books.google.fr/books?id=3XvQDwAAQBAJ" 
                        title="Tony Attwood, Isabelle Hénault">
                        <em>Sexualité & Syndrome d'Asperger</em>
                    </a>
                </li>
                <li>
                    <a class="button cursor-help anima-shrink-onto" 
                        href="https://books.google.fr/books?id=kIjxAgAAQBAJ" 
                        title="Bruno Gepner">
                        <em>Autisme : Ralentir le monde extérieur, calmer le monde intérieur</em>
                    </a>
                </li>
                <li>
                    <a class="button cursor-help anima-shrink-onto" 
                        href="https://books.google.fr/books?id=JWCmDwAAQBAJ" 
                        title="Carole Tardif, Bruno Gepner">
                        <em>L'autisme</em>
                    </a>
                </li>
            </ul>
        </section>
    </main>
{% endblock %}
