<input id="foot-networks" class="foot-check1" name="networks" type="checkbox">
<input id="foot-packages" class="foot-check2" name="packages" type="checkbox">
<input id="foot-websites" class="foot-check3" name="websites" type="checkbox">

<footer class="foot">
    <ul class="foot-list">
        <li class="foot-target1">
            <h3>
                <label for="foot-networks">Domains
                    <i class="fas fa-caret-up"></i>
                    <i class="fas fa-caret-down"></i>
                </label>
            </h3>
            <ul class="foot-goal1">
                <li>
                    <a href="https://animadio.org">Animadio</a>
                </li>
                <li>
                    <a href="https://devsagency.net">DevsAgency</a>
                </li>
                <li>
                    <a href="https://philippebeck.net">Philippe Beck</a>
                </li>
            </ul>
        </li>
        <li class="foot-target2">
            <h3>
                <label for="foot-websites">Websites
                    <i class="fas fa-caret-up"></i>
                    <i class="fas fa-caret-down"></i>
                </label>
            </h3>
            <ul class="foot-goal2">
                <li>
                    <a href="https://astronomy.philippebeck.net">Astronomy</a>
                </li>
                <li>
                    <a href="https://pam.devsagency.net">Pam</a>
                </li>
                <li>
                    <a href="https://tools2dev.devsagency.net">Tools2Dev</a>
                </li>
            </ul>
        </li>
        <li class="foot-target3">
            <h3>
                <label for="foot-packages">Packages
                    <i class="fas fa-caret-up"></i>
                    <i class="fas fa-caret-down"></i>
                </label>
            </h3>
            <ul class="foot-goal3">
                <li>
                    <a href="https://www.npmjs.com/package/animadio">Animadio CSS</a>
                </li>
                <li>
                    <a href="https://www.npmjs.com/package/animadio.js">Animadio JS</a>
                </li>
                <li>
                    <a href="https://packagist.org/packages/devsagency/pam">Pam PHP</a>
                </li>
            </ul>
        </li>
    </ul>
    
    <ul class="row">
        <li>
            <a class="btn" href="https://codepen.io/philippebeck">
                <i class="fab fa-codepen fa-2x"></i>
            </a>
        </li>
        <li>
            <a class="btn-tw" href="https://twitter.com/ph_beck">
                <i class="fab fa-twitter fa-2x"></i>
            </a>
        </li>
        <li>
            <a class="btn-gh" href="https://github.com/philippebeck">
                <i class="fab fa-github fa-2x"></i>
            </a>
        </li>
    </ul>
</footer>
