{% extends 'layout/layout.twig' %}

{% block title %}Asperger Tests{% endblock %}

{% block summary %}}Tests list about Asperger Syndrome{% endblock %}

{% block main %}
    <main>
        <ul class="column">
            {% for category in allTests|keys %}
                <li>
                    <a class="btn-blue" href="{{ url('tests!read', {'category': category}) }}">
                        <h3 class="mar-none">{{ category|replace({'A': "Autistic", 'E': "Empathic", 'S': "Systematizing", 'Q': " Quotient"}) }}</h3>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </main>
{% endblock %}
